<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="system.serviceModel">
      <section name="domainServices" type="System.ServiceModel.DomainServices.Hosting.DomainServicesSection, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" allowDefinition="MachineToApplication" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="DBConnection" connectionString="..\db\AccountBook.db3;"/>
  </connectionStrings>

  <!--unity-->
  <unity>
    <typeAliases>
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
      <typeAlias alias="string" type="System.String"/>
    </typeAliases>

    <containers>
      <!-- BLL-->
      <container name="BllContainer">
        <types>
          <type type="AccountBook.BLL.Interface.IUserBLL, AccountBook.BLL.Interface" mapTo="AccountBook.BLL.UserBLL, AccountBook.BLL">
            <lifetime type="singleton"/>
          </type>

          <type type="AccountBook.BLL.Interface.IConsumeRecordBLL, AccountBook.BLL.Interface" mapTo="AccountBook.BLL.ConsumeRecordBLL, AccountBook.BLL">
            <lifetime type="singleton"/>
          </type>

          <type type="AccountBook.BLL.Interface.IAccountTypeBLL, AccountBook.BLL.Interface, Version=1.0.0.0, Culture=neutral" mapTo="AccountBook.BLL.AccountTypeBLL, AccountBook.Bll, Version=1.0.0.0, Culture=neutral">
            <lifetime type="singleton"/>
          </type>
        </types>
      </container>

      <!-- DAL -->
      <container name="DalContainer">
        <types>
          <type type="AccountBook.DAL.Interface.IUserDAL, AccountBook.DAL.Interface" mapTo="AccountBook.DAL.SQLiteImpl.UserDAL, AccountBook.DAL.SQLiteImpl">
            <lifetime type="singleton"/>
          </type>

          <type type="AccountBook.DAL.Interface.IAccountRecordDAL, AccountBook.DAL.Interface, Version=1.0.0.0, Culture=neutral" mapTo="AccountBook.DAL.SQLiteImpl.AccountRecordDAL, AccountBook.DAL.SQLiteImpl, Version=1.0.0.0, Culture=neutral">
            <lifetime type="singleton"/>
          </type>

          <type type="AccountBook.DAL.Interface.IConsumeTypeDAL, AccountBook.DAL.Interface" mapTo="AccountBook.DAL.SQLiteImpl.ConsumeTypeDAL, AccountBook.DAL.SQLiteImpl">
            <lifetime type="singleton"/>
          </type>
        </types>
      </container>
    </containers>
  </unity>

  <!--log4net-->
  <log4net>
    <logger name="AccountBookLog">
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </logger>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="../Log/AccountBook.log" />
      <appendToFile value="true" />
      <rollingMode value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %-4r [%t] %-5p %c %x - %m%n" />
      </layout>
    </appender>
  </log4net>
  
  <system.web>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <compilation debug="true" targetFramework="4.0" />
    <globalization culture="auto" uiCulture="auto" />

    <authentication mode="Forms">
      <forms name=".AccountBook.Silverlight_ASPXAUTH" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="AccountBook.Silverlight.Web.AccountBookMembershipProvider" connectionStringName="ApplicationServices"
            enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
            maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
            applicationName="/" />
      </providers>
    </membership>

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="AccountBook.Silverlight.Web.AccountBookRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="AccountBook.Silverlight.Web.AccountBookWindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="AccountBook.Silverlight.Web.AccountBookProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
      <properties>
        <add name="FriendlyName" />
      </properties>
    </profile>

  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" 
          type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>